.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.new-ticket-page{
  position:absolute;
  width:100%;
  height:100%;  
  padding:5px;
  
}
.new-ticket-page > div{
  float:left;
  margin:5px;
}
.new-ticket-side-nav{
  width:20%;
  height:auto;
}

.new-ticket-form{
  width:75%;
  border-radius: 10px;
  border: 2px solid #CED4DA;
  padding: 20px;
  
}

.view-ticket-form{
  width:75%;
}

.new-ticket-success-header{
  width:75%;
  
}

.new-ticket-header{
  width:100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
