.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.new-ticket-page{
  position:absolute;
  width:100%;
  height:100%;  
  padding:5px;
  
}

.view-ticket-form{  
  border: 1px solid #E8EAED;
  border-radius: 10px;
  padding-right: 5px;
  padding-left:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #E8EAED;
}

.ticket-details-body{
  border-radius: 4px;
  border: 1px solid #CED4DA;
  padding: 20px;
}


.ticket-details-form{
  --background-color : #E8EAED;
}

.view-ticket-loading{
  padding-left: 45%;
  padding-top: 20%;
}

.ticket-conv-block {
  border: 1px solid #CED4DA;
  margin-top: 20px;
}

.ticket-conv-block > .author{
  background-color: #F8F9FA;
}

.ticket-conv-block > .message{
  background-color: rgb(255, 255, 255);
}

.ticket-table-summary > td {
  -height:"100px";
}

.view-ticket-header{
  width:100%;
}

.view-ticket-page{
  width:100%;
  height:100%;  
  padding:5px;
}

.view-ticket-body{
  margin-left: 6%;
  width:90%;
}

.new-ticket-header{
  width:100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;  
}

body {
  --background-color: #b63c3c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('./testbg2.jpg');
}

div.rightHome{
  background-image : url('./ithelpdesk.jpg');
  background-size: cover;
}
div.leftHome{
  background-color: white;
  
}
div.home{
  background-image : url('./testbg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  --font-weight: bold;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 80%;
  padding: 20px;
  text-align: center;
}


/*Styling for SideNavBar component START*/
div.sidenavbar > div.container > div.row > div.col > ul >li>a{
  color: black
}

div.sidenavbar > div.container > div.row > div.col > ul >li>a:focus{
background-color: #d4d8d8 !important;  
} 

div.sidenavbar > div.container > div.row > div.col > ul >li>a:hover{
  background-color: #dfe0e0;  
  
}
/*Styling for SideNavBar component END*/

/*Styling for sidemenu component START*/
div.sidemenu > ul > li:hover {
  background-color: #e5ebeb;  
}

div.sidemenu > ul > li > a:focus{
  color:#17a2b8;
  font-weight: 600;
}

div.sidemenu > ul > li > a{
  color:rgb(17, 17, 17);
}
/*Styling for sidemenu component END*/

/*Zero Margin and Zero Padding div style class START*/
div.zmzp > div.row{
  margin: 0px;
  padding: 0px;
}

div.zmzp > div.col{
  margin: '0';
  padding: '0';
}
/*Zero Margin and Zero Padding div style class END*/

/*Pagination style class START*/
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/*Pagination style class END*/