.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.new-ticket-page{
  position:absolute;
  width:100%;
  height:100%;  
  padding:5px;
  
}
.new-ticket-page > div{
  float:left;
  margin:5px;
}
.new-ticket-side-nav{
  background-color: #F8F9FA;
  width:20%;
  height:auto;
}

.new-ticket-form{
  width:75%;
  /*border-radius: 1px;*/
  border: 1px solid #CED4DA;
  padding: 20px;
  
}

.view-ticket-form{
  width:75%;
}

.ticket-details-form{
  background-color: #F8F9FA;
}

.view-ticket-loading{
  padding-left: 45%;
  padding-top: 20%;
}

.new-ticket-success-header{
  width:75%;
  
}

.new-ticket-header{
  width:100%;
}

.btn-group-vertical{
  width:100%;
}

.btn-group-vertical .btn-outline-secondary{
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


